<!DOCTYPE html>
<html lang="{{ page.lang | default: 'de' }}">
<head>
  <meta charset="UTF-8">
  <title>
    {% if page.title %}
      {{ page.title }} | {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.description | default: site.description }}">

  {% if page.translations.de %}
  <link rel="alternate" hreflang="de"
        href="{{ page.translations.de | absolute_url }}">
  {% endif %}

  {% if page.translations.ku %}
  <link rel="alternate" hreflang="ku"
        href="{{ page.translations.ku | absolute_url }}">
  {% endif %}

  <link type="text/css" rel="stylesheet" href="./assets/css/style.css"/>
  
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XXXXXXXXXX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZL6Q9620EC');
  </script>
</head>

<body>
  {{ content }}
</body>
</html>
