---
layout: default
---

<article
  {% if page.dir %}dir="{{ page.dir }}"{% endif %}
  {% if page.lang %}lang="{{ page.lang }}"{% endif %}
>

{% if page.translations %}
<nav class="lang-switch top-switch">
  {% if page.translations.de %}
    <a href="{{ page.translations.de }}">DEUTSCH</a>
  {% endif %}
  {% if page.translations.ku %}
    <a href="{{ page.translations.ku }}">کوردی</a>
  {% endif %}
</nav>
{% endif %}

  {% if page.lang == "ku-Arab" %}
  <!-- RTL Title Block -->
  <header class="post-header rtl-header">
    <h1>{{ page.title }}</h1>

    {% if page.subtitle %}
      <h2>{{ page.subtitle }}</h2>
    {% endif %}

    <time>{{ page.date | date: "%d.%m.%Y" }}</time>
  </header>

  <hr class="post-divider">
  {% else %}
  <!-- Default LTR -->
  <h1>{{ page.title }}</h1>
  <p><small>{{ page.date | date: "%d.%m.%Y" }}</small></p>
  <hr>
  {% endif %}

  <section class="post-content">
    {{ content }}
  </section>

</article>

